/* Global Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    word-spacing: 7px;
    line-height: 3rem;
}

p {
    font-size: 1rem;
    word-spacing: 5px;
}

body {
    color: var(--customBlack);
    text-transform: uppercase;
    /* letter-spacing: 1px; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ----------------------- Variables ------------------- */

:root {
    --customRed: #880f1b;
    --customDarkRed: #6e0e17;
    --customBlue: #151ba1;
    --customBlack: rgb(37, 37, 37);
    --customPink: #e3d8d8;
    --customWhite: rgb(210, 210, 210);
    --customGrey: #262932;
}

/* ----------------------- Header ------------------- */

.mainHeader {
    padding: 0rem 6rem;
    padding-top: 1rem;
    background-color: var(--customPink);
}

.mainHeader h1 {
    margin-top: 3rem;
}

/* ----------------------- Logo ------------------- */

.navLogo {
    font-size: 1.2rem;
}

.logo {
    color: var(--customBlue);
}

.navLogo:hover {
    cursor: pointer;
}

.logo a {
    color: var(--customBlue);
}

.letterB {
    font-size: 2rem;
}

.remLettersSmall {
    font-size: 0.5rem;
}

/* ----------------------- Nav ------------------- */

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    --black-color: hsla(220, 25%, 12%, 0);
    --black-color-light: hsla(0, 100%, 50%, 0);
    --black-color-lighten: hsl(220, 20%, 18%);
    --body-color: hsl(220, 100%, 97%);
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
    }
}

/*=============== HEADER ===============*/
.header {
    width: 100%;
    background-color: var(--black-color);
    z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    font-size: 0.9rem;
}

.nav__logo,
.nav__burger,
.nav__close {
    color: var(--customBlack);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    font-weight: var(--font-semi-bold);
}

.nav__logo i {
    font-weight: initial;
    font-size: 1.25rem;
}

.nav__toggle {
    position: relative;
    width: 32px;
    z-index: 100;
    height: 32px;
}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
    opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
    .nav__menu {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 1.1rem;
        width: 100%;
        height: 100%;
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        backdrop-filter: blur(5px);
        transition: top 0.4s, opacity 0.3s;
    }
    .nav__menu::-webkit-scrollbar {
        width: 0;
    }
    .nav__list {
        background-color: var(--black-color);
        padding-top: 1rem;
    }
    .dropdown__menu {
        margin-left: 3rem;
    }
}

.nav__link {
    color: var(--customBlack);
    background-color: var(--black-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.nav__link:hover {
    background-color: var(--black-color-light);
    color: var(--customRed);
}

/* Show menu */
.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}
.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
    cursor: pointer;
}

.dropdown__arrow {
    font-size: 1rem;
    font-weight: initial;
    transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
    padding: 0.3rem;
    color: var(--customBlack);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
    font-size: 1.25rem;
    font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
    color: var(--customWhite);
    background-color: var(--customRed);
}

.dropdown__menu,
.dropdown__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    border-left: 1px solid var(--customRed);
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
    max-height: 1000px;
    transition: max-height 0.4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
    margin-left: auto;
}

.dropdown__sublink {
    background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .nav__link {
        padding-inline: 1rem;
    }
}

/* For large devices */
@media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }
    .nav__toggle {
        display: none;
    }
    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 2rem;
    }
    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: 0.25rem;
    }
    .nav__link:hover {
        background-color: transparent;
    }

    .dropdown__item,
    .dropdown__subitem {
        position: relative;
    }

    .dropdown__menu,
    .dropdown__submenu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s, top 0.3s;
    }

    .dropdown__link,
    .dropdown__sublink {
        padding-inline: 1.2rem;
        width: 12rem;
    }

    .dropdown__subitem .dropdown__link {
        padding-inline: 1rem;
    }

    .dropdown__submenu {
        position: absolute;
        left: 100%;
        top: 0.5rem;
    }

    /* Show dropdown menu */
    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 4.5rem;
        pointer-events: initial;
        transition: top 0.3s;
    }

    /* Show dropdown submenu */
    .dropdown__subitem:hover > .dropdown__submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top 0.3s;
    }
}
/* ----------------------- TestNav ------------------- */

/* ----------------------- Hero ------------------- */

.hero {
    display: flex;
    justify-content: center;
}

.hero .text {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transform: translateY(-2rem);
}

.hero .logo .letterB {
    font-size: 3rem;
}

.hero .image {
    max-width: 40%;
}

.hero img {
    width: 100%;
    transform: translateY(6px);
}

.hero p {
    font-style: italic;
    margin-bottom: 2rem;
}

/* ----------------------- Button ------------------- */

.redButton {
    color: white;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    background-color: var(--customRed);
    font-family: inherit;
    transition: all 0.3s linear;
}

.redButton:hover {
    cursor: pointer;
    background-color: var(--customDarkRed);
    color: var(--customWhite);
}

/* ----------------------- Responsive Header ------------------- */

@media screen and (max-width: 1000px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero {
        text-align: center;
    }
    .hero .text {
        align-items: center !important;
        justify-content: center;
        max-width: 100%;
    }
}

/* ----------------------- Stats ------------------- */

.statsSection {
    background-color: var(--customGrey);
}

.stats {
    padding: 3rem 6rem;
    height: 100%;
    width: 100%;
    color: var(--customWhite);
}

.statsSection h2 {
    text-align: center;
    color: var(--customWhite);
    margin-bottom: 3rem;
}

.statsDiv {
    display: grid;
    margin: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.statsDiv div {
    background-color: var(--customPink);
    color: var(--customBlack);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.number {
    margin-bottom: 0.7rem;
    font-size: 1.4rem;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .statsDiv {
        display: grid;
        margin: auto;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}
